In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Mall_Customers.xls')
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
df.columns = ['сustomerid', 'genre', 'age', 'annual_income', 'spending_score']

In [4]:
df['genre'] = df['genre'].str.strip().map({'Male': 1, 'Female': 0})
df.head()

   сustomerid  genre  age  annual_income  spending_score
0           1      1   19             15              39
1           2      1   21             15              81
2           3      0   20             16               6
3           4      0   23             16              77
4           5      0   31             17              40

In [11]:
feature = ['genre', 'age', 'annual_income']
target = ['spending_score']

In [12]:
def calc_squared_error(values):

    if values.empty:
        return 0
    mean_value = values.mean()
    return ((values - mean_value) ** 2).mean()

In [13]:
def find_best_split(X, y):

    init_mse = calc_squared_error(y)
    max_mse_reduction = 0.0
    best_split = None
    
    for feature_name in X.columns:
        unique_values = sorted(X[feature_name].unique())
        potential_splits = []
        for i in range(len(unique_values) - 1):
            split_value = (unique_values[i] + unique_values[i+1]) / 2
            potential_splits.append(split_value)
            
        for split_value in potential_splits:
            mask = X[feature_name] <= split_value
            y_left = y[mask]
            y_right = y[~mask]
            
            if len(y_left) == 0 or len(y_right) == 0:
                continue
            
            mse_left = calc_squared_error(y_left)
            mse_right = calc_squared_error(y_right)
            ratio_left = len(y_left) / len(y)
            ratio_right = len(y_right) / len(y)
            
            mse_reduction = init_mse - (mse_left * ratio_left + mse_right * ratio_right)
            
            if mse_reduction > max_mse_reduction:
                max_mse_reduction = mse_reduction
                best_split = (feature_name, split_value)
                
    return best_split

In [14]:
def fit_regression_tree(X, y, max_depth=None, min_samples_split=2, current_depth=0):

    X = X.reset_index(drop=True)
    y = y.reset_index(drop=True)

    best_split = find_best_split(X, y)

    if (max_depth is not None and current_depth >= max_depth) or \
       (len(X) < min_samples_split) or \
       (best_split is None):
        
        leaf_prediction = y.mean()
        print("|   " * current_depth + f"--- value: {leaf_prediction:.2f}")
        return leaf_prediction
    else:
        feature_name, split_value = best_split
        
        print("|   " * current_depth + f"--- {feature_name} <= {split_value:.2f}")
        
        mask = X[feature_name] <= split_value
        X_left, y_left = X[mask], y[mask]
        
        left_branch = fit_regression_tree(X_left, y_left, max_depth, min_samples_split, current_depth + 1)
        
        print("|   " * current_depth + f"--- {feature_name} > {split_value:.2f}")
        
        X_right, y_right = X[~mask], y[~mask]
        
        right_branch = fit_regression_tree(X_right, y_right, max_depth, min_samples_split, current_depth + 1)
        
        return {
            'feature': feature_name,
            'split_value': split_value,
            'left_branch': left_branch,
            'right_branch': right_branch
        }

In [15]:
features = df[['genre', 'age', 'annual_income']]
target = df['spending_score']

In [16]:
print("--- Строим дерево без ограничений: ---")
my_full_tree = fit_regression_tree(features, target)

--- Строим дерево без ограничений: ---
--- age <= 39.50
|   --- age <= 20.50
|   |   --- annual_income <= 69.00
|   |   |   --- annual_income <= 18.50
|   |   |   |   --- genre <= 0.50
|   |   |   |   |   --- value: 6.00
|   |   |   |   --- genre > 0.50
|   |   |   |   |   --- value: 39.00
|   |   |   --- annual_income > 18.50
|   |   |   |   --- annual_income <= 41.50
|   |   |   |   |   --- age <= 19.00
|   |   |   |   |   |   --- value: 92.00
|   |   |   |   |   --- age > 19.00
|   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   --- value: 75.00
|   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   --- value: 66.00
|   |   |   |   --- annual_income > 41.50
|   |   |   |   |   --- annual_income <= 53.50
|   |   |   |   |   |   --- annual_income <= 47.00
|   |   |   |   |   |   |   --- value: 55.00
|   |   |   |   |   |   --- annual_income > 47.00
|   |   |   |   |   |   |   --- value: 59.00
|   |   |   |   |   --- annual_income > 53.50
|   |   |   |   |   |   --- annual_income <= 60.00
|   |   |   |   |   |   |   --- value: 41.00
|   |   |   |   |   |   --- annual_income > 60.00
|   |   |   |   |   |   |   --- annual_income <= 63.50
|   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   --- value: 54.00
|   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   --- value: 49.00
|   |   |   |   |   |   |   --- annual_income > 63.50
|   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   --- age <= 18.50
|   |   |   |   |   |   |   |   |   |   --- value: 48.00
|   |   |   |   |   |   |   |   |   --- age > 18.50
|   |   |   |   |   |   |   |   |   |   --- value: 50.00
|   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   --- value: 46.00
|   |   --- annual_income > 69.00
|   |   |   --- age <= 19.50
|   |   |   |   --- annual_income <= 77.50
|   |   |   |   |   --- value: 10.00
|   |   |   |   --- annual_income > 77.50
|   |   |   |   |   --- value: 5.00
|   |   |   --- age > 19.50
|   |   |   |   --- value: 5.00
|   --- age > 20.50
|   |   --- age <= 32.50
|   |   |   --- annual_income <= 72.50
|   |   |   |   --- annual_income <= 38.50
|   |   |   |   |   --- age <= 30.50
|   |   |   |   |   |   --- annual_income <= 36.00
|   |   |   |   |   |   |   --- age <= 23.50
|   |   |   |   |   |   |   |   --- age <= 22.50
|   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   --- annual_income <= 31.50
|   |   |   |   |   |   |   |   |   |   |   --- age <= 21.50
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 73.00
|   |   |   |   |   |   |   |   |   |   |   --- age > 21.50
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 76.00
|   |   |   |   |   |   |   |   |   |   --- annual_income > 31.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 81.00
|   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   --- age <= 21.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 81.00
|   |   |   |   |   |   |   |   |   |   --- age > 21.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 79.00
|   |   |   |   |   |   |   |   --- age > 22.50
|   |   |   |   |   |   |   |   |   --- annual_income <= 17.00
|   |   |   |   |   |   |   |   |   |   --- value: 77.00
|   |   |   |   |   |   |   |   |   --- annual_income > 17.00
|   |   |   |   |   |   |   |   |   |   --- annual_income <= 23.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 94.00
|   |   |   |   |   |   |   |   |   |   --- annual_income > 23.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 87.00
|   |   |   |   |   |   |   --- age > 23.50
|   |   |   |   |   |   |   |   --- age <= 29.50
|   |   |   |   |   |   |   |   |   --- age <= 27.00
|   |   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 77.00
|   |   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 73.00
|   |   |   |   |   |   |   |   |   --- age > 27.00
|   |   |   |   |   |   |   |   |   |   --- value: 82.00
|   |   |   |   |   |   |   |   --- age > 29.50
|   |   |   |   |   |   |   |   |   --- annual_income <= 26.50
|   |   |   |   |   |   |   |   |   |   --- value: 72.00
|   |   |   |   |   |   |   |   |   --- annual_income > 26.50
|   |   |   |   |   |   |   |   |   |   --- value: 73.00
|   |   |   |   |   |   --- annual_income > 36.00
|   |   |   |   |   |   |   --- value: 92.00
|   |   |   |   |   --- age > 30.50
|   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   --- value: 40.00
|   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   --- value: 73.00
|   |   |   |   --- annual_income > 38.50
|   |   |   |   |   --- annual_income <= 39.50
|   |   |   |   |   |   --- age <= 27.50
|   |   |   |   |   |   |   --- value: 65.00
|   |   |   |   |   |   --- age > 27.50
|   |   |   |   |   |   |   --- value: 61.00
|   |   |   |   |   --- annual_income > 39.50
|   |   |   |   |   |   --- age <= 25.50
|   |   |   |   |   |   |   --- annual_income <= 61.00
|   |   |   |   |   |   |   |   --- age <= 22.50
|   |   |   |   |   |   |   |   |   --- age <= 21.50
|   |   |   |   |   |   |   |   |   |   --- value: 57.00
|   |   |   |   |   |   |   |   |   --- age > 21.50
|   |   |   |   |   |   |   |   |   |   --- value: 55.00
|   |   |   |   |   |   |   |   --- age > 22.50
|   |   |   |   |   |   |   |   |   --- value: 52.00
|   |   |   |   |   |   |   --- annual_income > 61.00
|   |   |   |   |   |   |   |   --- annual_income <= 66.00
|   |   |   |   |   |   |   |   |   --- age <= 22.00
|   |   |   |   |   |   |   |   |   |   --- value: 42.00
|   |   |   |   |   |   |   |   |   --- age > 22.00
|   |   |   |   |   |   |   |   |   |   --- value: 41.00
|   |   |   |   |   |   |   |   --- annual_income > 66.00
|   |   |   |   |   |   |   |   |   --- age <= 24.00
|   |   |   |   |   |   |   |   |   |   --- value: 29.00
|   |   |   |   |   |   |   |   |   --- age > 24.00
|   |   |   |   |   |   |   |   |   |   --- value: 34.00
|   |   |   |   |   |   --- age > 25.50
|   |   |   |   |   |   |   --- annual_income <= 68.50
|   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   --- annual_income <= 41.50
|   |   |   |   |   |   |   |   |   |   --- age <= 28.00
|   |   |   |   |   |   |   |   |   |   |   --- value: 47.00
|   |   |   |   |   |   |   |   |   |   --- age > 28.00
|   |   |   |   |   |   |   |   |   |   |   --- value: 42.00
|   |   |   |   |   |   |   |   |   --- annual_income > 41.50
|   |   |   |   |   |   |   |   |   |   --- age <= 31.50
|   |   |   |   |   |   |   |   |   |   |   --- age <= 29.00
|   |   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 53.00
|   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 51.00
|   |   |   |   |   |   |   |   |   |   |   |   --- annual_income > 53.00
|   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 50.00
|   |   |   |   |   |   |   |   |   |   |   --- age > 29.00
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 54.00
|   |   |   |   |   |   |   |   |   |   --- age > 31.50
|   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 54.00
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 47.00
|   |   |   |   |   |   |   |   |   |   |   --- annual_income > 54.00
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 42.00
|   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   --- age <= 26.50
|   |   |   |   |   |   |   |   |   |   --- annual_income <= 58.00
|   |   |   |   |   |   |   |   |   |   |   --- value: 54.00
|   |   |   |   |   |   |   |   |   |   --- annual_income > 58.00
|   |   |   |   |   |   |   |   |   |   |   --- value: 55.00
|   |   |   |   |   |   |   |   |   --- age > 26.50
|   |   |   |   |   |   |   |   |   |   --- value: 56.00
|   |   |   |   |   |   |   --- annual_income > 68.50
|   |   |   |   |   |   |   |   --- annual_income <= 71.00
|   |   |   |   |   |   |   |   |   --- value: 77.00
|   |   |   |   |   |   |   |   --- annual_income > 71.00
|   |   |   |   |   |   |   |   |   --- value: 71.00
|   |   |   --- annual_income > 72.50
|   |   |   |   --- age <= 26.00
|   |   |   |   |   --- value: 12.00
|   |   |   |   --- age > 26.00
|   |   |   |   |   --- annual_income <= 131.50
|   |   |   |   |   |   --- age <= 28.50
|   |   |   |   |   |   |   --- annual_income <= 76.50
|   |   |   |   |   |   |   |   --- value: 40.00
|   |   |   |   |   |   |   --- annual_income > 76.50
|   |   |   |   |   |   |   |   --- annual_income <= 82.50
|   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   --- value: 89.00
|   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   --- value: 97.00
|   |   |   |   |   |   |   |   --- annual_income > 82.50
|   |   |   |   |   |   |   |   |   --- annual_income <= 87.50
|   |   |   |   |   |   |   |   |   |   --- value: 75.00
|   |   |   |   |   |   |   |   |   --- annual_income > 87.50
|   |   |   |   |   |   |   |   |   |   --- age <= 27.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 69.00
|   |   |   |   |   |   |   |   |   |   --- age > 27.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 68.00
|   |   |   |   |   |   --- age > 28.50
|   |   |   |   |   |   |   --- age <= 31.50
|   |   |   |   |   |   |   |   --- annual_income <= 80.00
|   |   |   |   |   |   |   |   |   --- age <= 29.50
|   |   |   |   |   |   |   |   |   |   --- annual_income <= 76.00
|   |   |   |   |   |   |   |   |   |   |   --- value: 88.00
|   |   |   |   |   |   |   |   |   |   --- annual_income > 76.00
|   |   |   |   |   |   |   |   |   |   |   --- value: 83.00
|   |   |   |   |   |   |   |   |   --- age > 29.50
|   |   |   |   |   |   |   |   |   |   --- value: 75.50
|   |   |   |   |   |   |   |   --- annual_income > 80.00
|   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   --- age <= 30.50
|   |   |   |   |   |   |   |   |   |   |   --- age <= 29.50
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 88.00
|   |   |   |   |   |   |   |   |   |   |   --- age > 29.50
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 86.00
|   |   |   |   |   |   |   |   |   |   --- age > 30.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 93.00
|   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   --- value: 97.00
|   |   |   |   |   |   |   --- age > 31.50
|   |   |   |   |   |   |   |   --- annual_income <= 76.50
|   |   |   |   |   |   |   |   |   --- annual_income <= 74.00
|   |   |   |   |   |   |   |   |   |   --- value: 73.00
|   |   |   |   |   |   |   |   |   --- annual_income > 74.00
|   |   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 87.00
|   |   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 93.00
|   |   |   |   |   |   |   |   --- annual_income > 76.50
|   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   --- annual_income <= 100.00
|   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 87.00
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 74.00
|   |   |   |   |   |   |   |   |   |   |   --- annual_income > 87.00
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 86.00
|   |   |   |   |   |   |   |   |   |   --- annual_income > 100.00
|   |   |   |   |   |   |   |   |   |   |   --- value: 69.00
|   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   --- annual_income <= 106.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 63.00
|   |   |   |   |   |   |   |   |   |   --- annual_income > 106.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 74.00
|   |   |   |   |   --- annual_income > 131.50
|   |   |   |   |   |   --- age <= 31.00
|   |   |   |   |   |   |   --- value: 83.00
|   |   |   |   |   |   --- age > 31.00
|   |   |   |   |   |   |   --- value: 18.00
|   |   --- age > 32.50
|   |   |   --- age <= 38.50
|   |   |   |   --- annual_income <= 18.50
|   |   |   |   |   --- value: 6.00
|   |   |   |   --- annual_income > 18.50
|   |   |   |   |   --- annual_income <= 19.50
|   |   |   |   |   |   --- value: 99.00
|   |   |   |   |   --- annual_income > 19.50
|   |   |   |   |   |   --- annual_income <= 22.00
|   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   --- value: 35.00
|   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   --- value: 13.00
|   |   |   |   |   |   --- annual_income > 22.00
|   |   |   |   |   |   |   --- annual_income <= 23.50
|   |   |   |   |   |   |   |   --- value: 98.00
|   |   |   |   |   |   |   --- annual_income > 23.50
|   |   |   |   |   |   |   |   --- age <= 37.50
|   |   |   |   |   |   |   |   |   --- age <= 36.50
|   |   |   |   |   |   |   |   |   |   --- age <= 34.50
|   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 94.50
|   |   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 82.00
|   |   |   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 68.00
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 60.00
|   |   |   |   |   |   |   |   |   |   |   |   |   --- annual_income > 68.00
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 22.00
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 45.50
|   |   |   |   |   |   |   |   |   |   |   |   --- annual_income > 82.00
|   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 95.00
|   |   |   |   |   |   |   |   |   |   |   --- annual_income > 94.50
|   |   |   |   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 23.00
|   |   |   |   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 8.00
|   |   |   |   |   |   |   |   |   |   --- age > 34.50
|   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 90.00
|   |   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 55.50
|   |   |   |   |   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 26.00
|   |   |   |   |   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 26.00
|   |   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 35.00
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- annual_income > 26.00
|   |   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 61.00
|   |   |   |   |   |   |   |   |   |   |   |   --- annual_income > 55.50
|   |   |   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 86.00
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- age <= 35.50
|   |   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 72.00
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- age > 35.50
|   |   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 75.00
|   |   |   |   |   |   |   |   |   |   |   |   |   --- annual_income > 86.00
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 27.00
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 51.00
|   |   |   |   |   |   |   |   |   |   |   --- annual_income > 90.00
|   |   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 111.50
|   |   |   |   |   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 85.00
|   |   |   |   |   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 90.00
|   |   |   |   |   |   |   |   |   |   |   |   --- annual_income > 111.50
|   |   |   |   |   |   |   |   |   |   |   |   |   --- value: 79.00
|   |   |   |   |   |   |   |   |   --- age > 36.50
|   |   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 32.00
|   |   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 1.00
|   |   |   |   |   |   |   |   --- age > 37.50
|   |   |   |   |   |   |   |   |   --- annual_income <= 69.00
|   |   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   |   --- annual_income <= 65.50
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 42.00
|   |   |   |   |   |   |   |   |   |   |   --- annual_income > 65.50
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 40.00
|   |   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 55.00
|   |   |   |   |   |   |   |   |   --- annual_income > 69.00
|   |   |   |   |   |   |   |   |   |   --- annual_income <= 95.50
|   |   |   |   |   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 76.00
|   |   |   |   |   |   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   |   |   |   |   |   --- value: 75.00
|   |   |   |   |   |   |   |   |   |   --- annual_income > 95.50
|   |   |   |   |   |   |   |   |   |   |   --- value: 91.00
|   |   |   --- age > 38.50
|   |   |   |   --- annual_income <= 70.00
|   |   |   |   |   --- value: 91.00
|   |   |   |   --- annual_income > 70.00
|   |   |   |   |   --- annual_income <= 74.50
|   |   |   |   |   |   --- value: 75.00
|   |   |   |   |   --- annual_income > 74.50
|   |   |   |   |   |   --- value: 88.00
--- age > 39.50
|   --- annual_income <= 72.00
|   |   --- annual_income <= 36.00
|   |   |   --- age <= 45.50
|   |   |   |   --- annual_income <= 31.50
|   |   |   |   |   --- age <= 42.50
|   |   |   |   |   |   --- value: 31.00
|   |   |   |   |   --- age > 42.50
|   |   |   |   |   |   --- value: 32.00
|   |   |   |   --- annual_income > 31.50
|   |   |   |   |   --- value: 17.00
|   |   |   --- age > 45.50
|   |   |   |   --- annual_income <= 24.00
|   |   |   |   |   --- age <= 55.00
|   |   |   |   |   |   --- value: 29.00
|   |   |   |   |   --- age > 55.00
|   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   --- value: 15.00
|   |   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   |   --- age <= 65.50
|   |   |   |   |   |   |   |   --- value: 3.00
|   |   |   |   |   |   |   --- age > 65.50
|   |   |   |   |   |   |   |   --- value: 14.00
|   |   |   |   --- annual_income > 24.00
|   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   --- age <= 47.50
|   |   |   |   |   |   |   --- value: 5.00
|   |   |   |   |   |   --- age > 47.50
|   |   |   |   |   |   |   --- value: 14.00
|   |   |   |   |   --- genre > 0.50
|   |   |   |   |   |   --- value: 4.00
|   |   --- annual_income > 36.00
|   |   |   --- annual_income <= 39.50
|   |   |   |   --- genre <= 0.50
|   |   |   |   |   --- age <= 57.00
|   |   |   |   |   |   --- value: 28.00
|   |   |   |   |   --- age > 57.00
|   |   |   |   |   |   --- value: 35.00
|   |   |   |   --- genre > 0.50
|   |   |   |   |   --- value: 36.00
|   |   |   --- annual_income > 39.50
|   |   |   |   --- age <= 41.50
|   |   |   |   |   --- annual_income <= 70.00
|   |   |   |   |   |   --- annual_income <= 64.50
|   |   |   |   |   |   |   --- genre <= 0.50
|   |   |   |   |   |   |   |   --- value: 40.00
|   |   |   |   |   |   |   --- genre > 0.50

In [18]:
from sklearn.tree import DecisionTreeRegressor, export_text

print("--- Моё дерево с max_depth=2: ---")

my_depth_2_tree = fit_regression_tree(features, target, max_depth=2)

--- Моё дерево с max_depth=2: ---
--- age <= 39.50
|   --- age <= 20.50
|   |   --- value: 44.65
|   --- age > 20.50
|   |   --- value: 62.53
--- age > 39.50
|   --- annual_income <= 72.00
|   |   --- value: 41.77
|   --- annual_income > 72.00
|   |   --- value: 19.79

In [20]:
sklearn_model_depth_2 = DecisionTreeRegressor(max_depth=2, random_state=42)
sklearn_model_depth_2.fit(features, target)
sklearn_tree_text = export_text(sklearn_model_depth_2, feature_names=list(features.columns))

print("\n\n--- Дерево из sklearn с max_depth=2: ---")
print(sklearn_tree_text)

--- Дерево из sklearn с max_depth=2: ---
|--- age <= 39.50
|   |--- age <= 20.50
|   |   |--- value: [44.65]
|   |--- age >  20.50
|   |   |--- value: [62.53]
|--- age >  39.50
|   |--- annual_income <= 72.00
|   |   |--- value: [41.77]
|   |--- annual_income >  72.00
|   |   |--- value: [19.79]

In [21]:
print("--- Наше дерево с min_samples_split=70: ---")
my_mss_70_tree = fit_regression_tree(features, target, min_samples_split=70)

--- Наше дерево с min_samples_split=70: ---
--- age <= 39.50
|   --- age <= 20.50
|   |   --- value: 44.65
|   --- age > 20.50
|   |   --- age <= 32.50
|   |   |   --- value: 66.59
|   |   --- age > 32.50
|   |   |   --- value: 55.09
--- age > 39.50
|   --- annual_income <= 72.00
|   |   --- value: 41.77
|   --- annual_income > 72.00
|   |   --- value: 19.79

In [22]:
print("\n\n--- Дерево из sklearn с min_samples_split=70: ---")
sklearn_model_mss_70 = DecisionTreeRegressor(min_samples_split=70, random_state=42)
sklearn_model_mss_70.fit(features, target)

sklearn_tree_text_mss = export_text(sklearn_model_mss_70, feature_names=list(features.columns))
print(sklearn_tree_text_mss)

--- Дерево из sklearn с min_samples_split=70: ---
|--- age <= 39.50
|   |--- age <= 20.50
|   |   |--- value: [44.65]
|   |--- age >  20.50
|   |   |--- age <= 32.50
|   |   |   |--- value: [66.59]
|   |   |--- age >  32.50
|   |   |   |--- value: [55.09]
|--- age >  39.50
|   |--- annual_income <= 72.00
|   |   |--- value: [41.77]
|   |--- annual_income >  72.00
|   |   |--- value: [19.79]